.friendList {
  display: flex;
  gap: 15px;
  margin: 30px auto;
  padding: 0;
  list-style: none;
  justify-content: center;
}

.friendItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  background-color: white;
  border: 2px solid #000;
  border-radius: 8px;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.2);
  width: 120px;
}
